@{
	ViewData["Title"] = "Example Controller Index Sayfası";
	Layout = "ExampleLayout";
}
<div>Bu sayfa Example Controller > Index Sayfası</div>

@section Header {

	<p>Bu kodlar header'ın hemen altına eklenecektir.</p>

}

@section Footer 
{
	<p> Bu kodlar footer'ın hemen altına eklenecektir</p>
}